// Помощники
@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
@import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
// @import 'main/common'; // общие стили
// @import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

//Компоненты(все файлы в папке components) -> добавляются автоматически в стили, импортить сюда их не нужно

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах

html {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-page {
    padding: 30px 0;
    &__title {
        display: inline-block;
        font-size: 18px;
        line-height: 100%;
        text-transform: uppercase;
        color: #454545;
        padding-right: 15px;
    }
    &__main {
        display: inline-block;
        font-size: 18px;
        line-height: 100%;
        color: #FF3446;
        padding-left: 15px;
        position: relative;
    }
    &__main::after {
        content: " ";
        position: absolute;
        top: 35px;
        left: -6px;
        width: 4px;
        height: 4px;
        border: 2px solid #FF3446;
        border-radius: 50%;
        background-color: #FF3446;
    }
}

.h1 {
    font-size: 38px;
    line-height: 100%;
    text-transform: uppercase;
    color: #454545;
    padding: 30px 0 10px;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 60px;
        height: 3px;
        background: #FF3446;
        transform: translateX(-50%);
    }
}
.a-section {
    font-size: 18px;
    text-transform: uppercase;
    color: #454545;;
    position: relative;
    display: inline-block;
    padding: 30px 0 25px;
    margin-bottom: -3px;
    text-decoration: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 150px;
        height: 3px;
        background: #FF3446;
        transform: translateX(-50%);
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        border: 10px solid transparent; 
        border-bottom: 10px solid #FF3446;
        transform: translateX(-50%);

    }
    &.active,
    &:hover {
        color: #FF3446;
    }
}
p {
    font-size: 16px;
    line-height: 130%;
    color: #454545;
    padding: 30px 0 0;
}

.services {

}
.section-services {
   text-align: center;  
   border-bottom: 3px solid #CDCED6; 
   padding: 20px 0 0;
   
}

.services-inner {
    padding: 25px 0;
}
.services-inner-wr {

}
.services-inner-wr {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ringet {
    position: relative;
    &__link {
        display: block;
        padding: 15px 25px;
        &-img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__p {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: #FFFFFF;

    }
}

.etching {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;

}

.swiper-wr {
    position: relative;
    max-width: 870px;
    margin: 0 auto 20px;
    padding: 0 40px;
}
.swiper-container {
    padding: 30px 0;
} 
.swiper-wrapper {}
.swiper-slide {
&:active,
&:hover {
    border: 2px solid rgba(255, 52, 70, 0.4);
}
    &__link {
        display: block;
        position: relative;
        // margin-bottom: 20px;
        &-img {
            display: block;
            max-width: 100%;
            width: 100%;
            }
        }
    &__p {
        background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.0));
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #FFFFFF;
        padding-bottom: 10px;
    
    }
}
.swiper-pagination {
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}

.swiper-button-prev {
    left: -20px;
    color: #FF3446;
}
.swiper-button-next {
    right: -20px;
    color: #FF3446;
}
.swiper-pagination-bullet {
    background: rgba(255, 52, 70, 0.5);
}
.swiper-pagination-bullet-active {
    background: #FF3446;
}


.book-wrap {
    border-top: 3px solid #CDCED6;
    position: relative;
    padding: 0 0 50px;

    &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 90%;
        width: 150px;
        height: 3px;
        background: #FF3446;
        transform: translateX(-90%);
    }
    &::after {
        content: "";
        position: absolute;
        top: 13px;
        left: 84%;
        border: 10px solid transparent; 
        border-top: 10px solid #FF3446;
        transform: translateY(-80%);

    }
}
.book-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.book-quality {
    flex: 0 0 70%;
    max-width: 70%;
    &-list {
        padding-top: 40px;
        padding-left: 50px;
        
    }
    &-li  {
        display: flex;
        &__img {
            flex: 0 0 3%;
            max-width: 3%;
        }
        &__p {
            font-size: 16px;
            line-height: 130%;
            color: #454545;
            padding: 5px 0 5px 20px;
        }
    }
}
.book-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 30%;
    max-width: 30%;
    
}
.book-showall {
    text-align: center;
    padding: 20px 0;
    &__link {
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #FF3446;  
    }
}
.book-button-btn {
    text-align: center;
    padding: 30px 0 0;
}
.btn {
    text-decoration: none;
    background: #FF3446;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 27px; 
}

.sales {
    background-image: url(../imgs/sales-bg.jpg);
    background-size: cover;
}
.sales-inner {
    padding: 30px 0;
    
}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    &-sales {
        &__h2 {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            color: #FF3446;
        }
        &__h3 {
            font-size: 30px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
    &__field {
        padding: 15px;
        min-width: 377px;
        border: 1px solid #FFFFFF;
        border-radius: 3px;

        &::placeholder {
            font-size: 16px;
            line-height: 100%;
            text-decoration-line: underline;
            color: rgba(36, 36, 36, 0.4);
        }
    }
    &__button {
        &-btn {}
    }

}


.nameboard {
}
.form-nb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    &-sales {
        &__h2 {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;                
            color: #FF3446;
        }
        &__h3 {
            font-size: 30px;
            line-height: 120%;
            color: #FFFFFF;
        }
        &__field {
            padding: 15px;
            min-width: 557px;
            border: 1px solid #FFFFFF;
            border-radius: 3px;
        
                &::placeholder {
                    font-size: 16px;
                    line-height: 100%;
                    text-decoration-line: underline;
                    color: rgba(36, 36, 36, 0.4);
                }
            }
    }
}
.form__button {
    &-btn {}      
}

.goods {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;
    &-btn {
        text-align: right;
    }
    &-link {
        &-p {
            display: inline-block;
            font-size: 16px;
            line-height: 130%;
            color: #F64E60;
            text-decoration: underline;
            
        }
    }
}
.swiper-wr-goods {
    max-width: 1170px;
}
.goods-swiper-slide {
    background-color: #fff;
    display: block;
    position: relative;
    min-height: 172px;

    &-img {
        position: absolute;
        display: block;
        top: 20px;
        right: 130px;
        }
    &-p {
        background: none;
        color: #454545;
    }
}

.share {
    position: absolute;
    top: 10px;
    left: -10px;
    background: #F64E60;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;

}
.form-g {
    padding: 0 10px;
}
.form__field-g {
    min-width: 557px;
}


.video {
    padding: 30px 0 0;
    &-wrap {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
    }
}
.video-block{
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 30px 0 0;
    &-img {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        &-pl {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.video-inner {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-text {
        padding: 30px 40px;
        &-h2 {
            font-weight: 500;
            font-size: 30px;
            line-height: 100%;
            text-transform: uppercase;
            color: #454545;
            padding-bottom: 10px;
            position: relative;
            &-clr {
                color: #FF3446;
                font-size: 30px;
                line-height: 100%;
                text-transform: uppercase;
            }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 3px;
            background: #FF3446;
        }
        }
    }
}

.swiper-wr-video {
    position: relative;
    max-width: 580px;
    margin: 0 auto;
}
.swiper-container-video {
    padding: 0;
} 
.swiper-wrapper {}
.swiper-slide-video {
    &__link {
        display: block;
        position: relative;
        &-img {
            display: block;
            max-width: 100%;
            width: 100%;
            border-radius: 10px;
            }
        &-img2 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            transform: translate(-50%, -50%);
        }
    }
}
.swiper-button-prev-video {
    left: -10px;
    color: #FF3446;
}
.swiper-button-next-video {
    right: -10px;
    color: #FF3446;
}





.comments {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;
}
.swiper-wr-comments {
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
    padding: 40px 10px;
}
.swiper-container-comments {
    padding: 0 0 20px;
} 
.s-s-inner {
    display: flex;
    &__img {
        flex: 0 0 20%;
        max-width: 20%;
        &-wr {}
    }
    &-text {
        flex: 0 0 80%;
        max-width: 80%;
        padding: 0 10px;
        &-p1 {
            padding: 0 0 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            color: #454545;
        }
        &-p2 {
            padding: 10px 0;
            font-size: 16px;
            line-height: 130%;
            color: #454545;
        }
        &-p3 {
            padding: 0;
        }
        &-link {
            font-size: 16px;
            line-height: 100%;
            color: #FF3446;
        }

    }
}
.swiper-button-prev-comments {
    left: -30px;
    color: #FF3446;
}
.swiper-button-next-comments {
    right: -30px;
    color: #FF3446;
}
.book-inner-comments {
    display: inline;
}
.book-button-comments {
    text-align: right;
    padding: 20px 100px 0 0;
}


.mat-egnr {
    &-wr {
        display: flex;
        justify-content: space-between;
        padding: 60px 10px;

        &-text {
            flex: 0 0 45%;
            max-width: 45%;
            padding: 0 15px;
            &-h2 {
                font-weight: 500;
                font-size: 30px;
                line-height: 100%;
                text-transform: uppercase;
                color: #454545;
                padding-bottom: 10px;
                position: relative;
                &-clr {
                    color: #FF3446;
                    font-size: 30px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
                
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60px;
                height: 3px;
                background: #FF3446;
            }
            }
            &-p {
                font-size: 16px;
                line-height: 145%;
                color: #454545;
            }

        }
    }
    
}
.grid-wrap {
    flex: 0 0 55%;
    max-width: 55%;
    max-width: 562px;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
}
.grid-el {
    width: 100%;
    margin-bottom: 5px;
    display: block;
    position: relative;

    &__title {
        background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.0));
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    &__link {
        display: block;
    }
    &__img {
        width: 100%;
        max-width: 100%;
    }
}

.mat-nb {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;
    &-wr {
        display: flex;
        justify-content: space-between;
        padding: 60px 10px;

        &-text {
            flex: 0 0 45%;
            max-width: 45%;
            padding: 0 15px;
            &-h2 {
                font-weight: 500;
                font-size: 30px;
                line-height: 100%;
                text-transform: uppercase;
                color: #454545;
                padding-bottom: 10px;
                position: relative;
                &-clr {
                    color: #FF3446;
                    font-size: 30px;
                    line-height: 130%;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60px;
                height: 3px;
                background: #FF3446;
            }
            }
            &-p {
                font-size: 16px;
                line-height: 145%;
                color: #454545;
            }
        }
    }
}
.etching-list-wrap {
    width: 1013px;
    padding: 60px 0;
    column-count: 3;
    margin: 0 auto;

    
}

.list-wr {
    margin-bottom: 30px;
    &-li {
        list-style-type: none;
        
       
    }
    &-li-title {
        padding-bottom: 15px;
        
        
    }   
    &-link-title {
        display: inline-block;
        font-size: 20px;
        line-height: 130%;
        font-weight: 600;
        color: #FF3446;
        text-decoration: none;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            top: 7px;
            right: -20px;
            width: 8px;
            height: 8px;
            border-top: 2px solid #FF3446;
            border-right: 2px solid #FF3446;
            transform: rotate(135deg);
        }
    }
    &-link {
        display: inline-block;
        font-size: 16px;
        line-height: 195.5%;
        color: #454545;
        text-decoration: none;
        position: relative;
        padding-left: 20px;
    &.active,
    &:hover {
        color: #FF3446;
    }
        &::before {
            position: absolute;
            content: "\2022";
            font-size: 50px;
            left: 0;
            top: -3px;
            color: #FF3446;
           
        }
    }
}

.works {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;
}
.works-inner {
    padding: 30px 0;
}
.works-wr {
    display: flex;
    padding: 0 40px;
    &-pic {
        &__link {
            max-width: 520px;
        }
        &__img {
        }
    }
    &-in {
        padding-left: 30px;
        &-h2 {
            padding-top: 0;
            padding-bottom: 10px;
            font-weight: 500;
            font-size: 30px;
            line-height: 100%;
            text-transform: uppercase;
            color: #454545;
            position: relative;
            &-clr {
                color: #FF3446;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60px;
                height: 3px;
                background: #FF3446;
            }
        }
        &__p {
            padding: 20px 0;
            font-size: 16px;
            line-height: 145%;
            color: #000000;
        }
        &-pics {
            display: flex;
            justify-content: space-between;
            padding: 30px 0 0;

            &-link {
                flex: 0 0 32%;
                max-width: 32%;
                max-width: 171px;
            }
            &-img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

.swiper-wr-works {
    position: relative;
    margin: 0 auto;
    padding: 30px 60px 0;
}
.swiper-container-works {
    padding: 20px 0;
    width: 1048px;
} 
.swiper-wrapper-works {
    display: flex;
    justify-content: space-between;
}
.swiper-slide-works {
    &__link {
        display: inline-block;
        position: relative;
        margin-bottom: 20px;
        &-img {
            display: block;
            max-width: 100%;
            // width: 100%;
        }
    }
    &__p {
        background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.0));
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #FFFFFF;
        padding-bottom: 10px;
    }
}


.btn-works-l {
    left: 0;
    color: #FF3446;
}
.btn-works-r {
    right: 0;
    color: #FF3446;
}

.book-inner-works {
    display: block;
    padding-bottom: 20px;
}

.book-showall-works {
    display: block;
    text-align: right;
    padding: 20px 118px 0 0;
    &__link {
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #FF3446;  
    }
}

.swiper-wr-trust {
    padding: 10px 0;
    max-width: 1000px;
}
.swiper-slide-trust {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    min-height: 160px;
    position: relative;
    &__link {
    }
    &-inner {
        position: absolute;
        top: 55px;
        left: 35px;
        &-img {}
    }
    &-inner2 {
        position: absolute;
        top: 30px;
        left: 40px;
        &-img {}
    }
}
.swiper-button-prev-trust {
    left: -40px;
    color: #FF3446;
}
.swiper-button-next-trust {
    right: -40px;
    color: #FF3446;
}



.thanks {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;
}

.swiper-wr-thanks {
    padding: 50px 0;
    max-width: 1000px;
}
.swiper-slide-thanks {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    min-height: 160px;
    position: relative;
    &__link {
    }
    &-inner {
        position: absolute;
        top: 55px;
        left: 35px;
        &-img {}
    }
    &-inner2 {
        position: absolute;
        top: 30px;
        left: 40px;
        &-img {}
    }
}
.swiper-button-prev-thanks {
    left: -40px;
    color: #FF3446;
}
.swiper-button-next-thanks {
    right: -40px;
    color: #FF3446;
}


.las-engr {
    &-inner {
        padding: 20px 40px 30px;
    }
    &-pic {
        width: 560px;
        float: left;
        padding: 30px 30px 10px 0;
        &__img {
            max-width: 100%;
            width: 100%;
        }
    }
    &-text {
        &__p {
            font-size: 16px;
            line-height: 145%;
            color: #454545;
        } 
    }
}

.las-engr-hiw {
    &-inner {
        padding: 20px 40px 30px;
    }
    &-pic {
        width: 560px;
        float: right;
        padding: 30px 0 10px 30px;
        &__img {
            max-width: 100%;
            width: 100%;
        }
    }
    &-text {
        &__p {
            font-size: 16px;
            line-height: 145%;
            color: #454545;
        } 
    }
}
.text-dec1 {
    font-weight: 500;
    text-decoration-line: underline;
    color: #FF3446;
}
.text-dec2 {
    font-weight: 600;
    color: #454545;
}
