// Помощники
@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
@import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
// @import 'main/common'; // общие стили
// @import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

//Компоненты(все файлы в папке components) -> добавляются автоматически в стили, импортить сюда их не нужно

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах

html {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-page {
    padding: 30px 0;
    &__title {
        display: inline-block;
        font-size: 18px;
        line-height: 100%;
        text-transform: uppercase;
        color: #454545;
        padding-right: 15px;
    }
    &__main {
        display: inline-block;
        font-size: 18px;
        line-height: 100%;
        color: #FF3446;
        padding-left: 15px;
        position: relative;
    }
    &__main::after {
        content: " ";
        position: absolute;
        top: 35px;
        left: -6px;
        width: 4px;
        height: 4px;
        border: 2px solid #FF3446;
        border-radius: 50%;
        background-color: #FF3446;
    }
}

.h1 {
    font-size: 38px;
    line-height: 100%;
    text-transform: uppercase;
    color: #454545;
    padding: 30px 0 10px;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 60px;
        height: 3px;
        background: #FF3446;
        transform: translateX(-50%);
    }
}
.a-section {
    font-size: 18px;
    text-transform: uppercase;
    color: #454545;;
    position: relative;
    display: inline-block;
    padding: 30px 0 25px;
    margin-bottom: -3px;
    text-decoration: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 150px;
        height: 3px;
        background: #FF3446;
        transform: translateX(-50%);
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        border: 10px solid transparent; 
        border-bottom: 10px solid #FF3446;
        transform: translateX(-50%);

    }
}
p {
    font-size: 16px;
    line-height: 130%;
    color: #454545;
    padding: 30px 0;
}

.services {

}
.section-services {
   text-align: center;  
   border-bottom: 3px solid #CDCED6; 
   
}

.services-inner {
    padding: 25px 0;
}
.services-inner-wr {

}
.services-inner-wr {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ringet {
    position: relative;
    &__link {
        display: block;
        padding: 15px 25px;
        &-img {
            max-width: 100%;
            width: 100%;
        }
    }
    &__p {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        color: #FFFFFF;

    }
}

.etching {
    background-image: url(../imgs/etching-bg.jpg);
    background-size: cover;

}

.swiper-wr {
    position: relative;
    max-width: 870px;
    margin: 100px auto;
    padding: 0 40px;
}
.swiper-container {
    padding: 30px 0;
} 
.swiper-wrapper {}
.swiper-slide {
    &__link {
        display: block;
        position: relative;
        margin-bottom: 20px;
        &-img {
            display: block;
            max-width: 100%;
            width: 100%;
            }
        }
    &__p {
        background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.0));
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #FFFFFF;
    }
}
.swiper-pagination {
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}

.swiper-button-prev {
    left: -20px;
    color: #FF3446;
}
.swiper-button-next {
    right: -20px;
    color: #FF3446;
}
.swiper-pagination-bullet {
    background: rgba(255, 52, 70, 0.5);
}
.swiper-pagination-bullet-active {
    background: #FF3446;
}


.book-wrap {
    border-top: 3px solid #CDCED6;
    position: relative;
    padding: 0 0 30px;

    &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 90%;
        width: 150px;
        height: 3px;
        background: #FF3446;
        transform: translateX(-90%);
    }
    &::after {
        content: "";
        position: absolute;
        top: 13px;
        left: 84%;
        border: 10px solid transparent; 
        border-top: 10px solid #FF3446;
        transform: translateY(-80%);

    }
}
.book-inner {
    display: flex;
    justify-content: space-between;
}
.book-quality {
    flex: 0 0 70%;
    max-width: 70%;
    &-list {
        padding-top: 40px;
        padding-left: 50px;
        
    }
    &-li  {
        display: flex;
        &__img {
            flex: 0 0 3%;
            max-width: 3%;
        }
        &__p {
            font-size: 16px;
            line-height: 130%;
            color: #454545;
            padding: 5px 0 5px 20px;
        }
    }
}
.book-button {
    flex: 0 0 30%;
    max-width: 30%;
}
.book-showall {
    text-align: center;
    padding: 20px 0;
    &__link {
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #FF3446;  
    }
}
.book-button-btn {
    text-align: center;
    padding: 30px 0 0;
}
.btn {
    text-decoration: none;
    background: #FF3446;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 27px; 
}

.sales {
    background-image: url(../imgs/sales-bg.jpg);
    background-size: cover;
}
.sales-inner {
    padding: 30px 0;
    
}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    &-sales {
        &__h2 {
            font-size: 40px;
            line-height: 120%;
            color: #FF3446;
        }
        &__h3 {
            font-size: 30px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }
    &__field {
        padding: 15px;
        min-width: 377px;
        border: 1px solid #FFFFFF;
        border-radius: 3px;

        &::placeholder {
            font-size: 16px;
            line-height: 100%;
            text-decoration-line: underline;
            color: rgba(36, 36, 36, 0.4);
        }
    }
    &__button {
        &-btn {}
    }

}


// .etching {
//     background-image: url(../imgs/etching-bg.jpg);
//     background-size: cover;

// }

// .swiper-wr {
//     position: relative;
//     max-width: 870px;
//     margin: 100px auto;
//     padding: 0 40px;
// }
// .swiper-container {
//     padding: 30px 0;
// } 
// .swiper-wrapper {}
// .swiper-slide {
//     &__link {
//         display: block;
//         position: relative;
//         margin-bottom: 20px;
//         &-img {
//             display: block;
//             max-width: 100%;
//             width: 100%;
//             }
//         }
//     &__p {
//         background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.0));
//         position: absolute;
//         bottom: -20px;
//         left: 0;
//         right: 0;
//         font-size: 18px;
//         line-height: 100%;
//         text-align: center;
//         text-transform: uppercase;
//         font-weight: 600;
//         color: #FFFFFF;
//     }
// }
// .swiper-pagination {
// }
// .swiper-container-horizontal>.swiper-pagination-bullets {
//     bottom: 0px;
// }

// .swiper-button-prev {
//     left: -20px;
//     color: #FF3446;
// }
// .swiper-button-next {
//     right: -20px;
//     color: #FF3446;
// }
// .swiper-pagination-bullet {
//     background: rgba(255, 52, 70, 0.5);
// }
// .swiper-pagination-bullet-active {
//     background: #FF3446;
// }


// .book-wrap {
//     border-top: 3px solid #CDCED6;
//     position: relative;
//     padding: 0 0 30px;

//     &::before {
//         content: "";
//         position: absolute;
//         top: -3px;
//         left: 90%;
//         width: 150px;
//         height: 3px;
//         background: #FF3446;
//         transform: translateX(-90%);
//     }
//     &::after {
//         content: "";
//         position: absolute;
//         top: 13px;
//         left: 84%;
//         border: 10px solid transparent; 
//         border-top: 10px solid #FF3446;
//         transform: translateY(-80%);

//     }
// }
// .book-inner {
//     display: flex;
//     justify-content: space-between;
// }
// .book-quality {
//     flex: 0 0 70%;
//     max-width: 70%;
//     &-list {
//         padding-top: 40px;
//         padding-left: 50px;
        
//     }
//     &-li  {
//         display: flex;
//         &__img {
//             flex: 0 0 3%;
//             max-width: 3%;
//         }
//         &__p {
//             font-size: 16px;
//             line-height: 130%;
//             color: #454545;
//             padding: 5px 0 5px 20px;
//         }
//     }
// }
// .book-button {
//     flex: 0 0 30%;
//     max-width: 30%;
// }
// .book-showall {
//     text-align: center;
//     padding: 20px 0;
//     &__link {
//         font-size: 14px;
//         line-height: 100%;
//         font-weight: 600;
//         text-decoration-line: underline;
//         text-transform: uppercase;
//         color: #FF3446;  
//     }
// }
// .book-button-btn {
//     text-align: center;
//     padding: 30px 0 0;
// }
// .btn {
//     text-decoration: none;
//     background: #FF3446;
//     border-radius: 3px;
//     font-size: 16px;
//     line-height: 18px;
//     font-weight: 700;
//     color: #FFFFFF;
//     text-transform: uppercase;
//     padding: 15px 27px; 
// }

// .sales {
//     background-image: url(../imgs/sales-bg.jpg);
//     background-size: cover;
// }
// .sales-inner {
//     padding: 30px 0;
    
// }
// .form {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 100px;
//     &-sales {
//         &__h2 {
//             font-size: 40px;
//             line-height: 120%;
//             color: #FF3446;
//         }
//         &__h3 {
//             font-size: 30px;
//             line-height: 120%;
//             color: #FFFFFF;
//         }
//     }
//     &__field {
//         padding: 15px;
//         min-width: 377px;
//         border: 1px solid #FFFFFF;
//         border-radius: 3px;

//         &::placeholder {
//             font-size: 16px;
//             line-height: 100%;
//             text-decoration-line: underline;
//             color: rgba(36, 36, 36, 0.4);
//         }
//     }
//     &__button {
//         &-btn {}
//     }

// }
