.footer
    .footer-wrap 
        .container
            .footer-inner 
                .ord-cl
                    .ord-cl-inner 
                        .ord-cl-inner__logo 
                            a(href="#").ord-cl-inner__logo-link
                                h1.ord-cl-inner__logo-link-h1 Q-GRAVER.ru
                                p.ord-cl-inner__logo-link-p Центр лазерной гравировки 
                        .ord-cl-inner__link 
                            a(href="#").ord-cl-inner__link-btn Заказать звонок 
                    .ord-cl-vid 
                        svg.svg-icon
                            use(xlink:href="./assets/imgs/sprite.svg#insta")
                        svg.svg-icon
                            use(xlink:href="./assets/imgs/sprite.svg#play")
                .footer-lists 
                    .footer-form 
                        .footer-form__inner
                            form.footer-form__search(action="#") 
                                input(type="text" placeholder="Введите запрос").footer-form__search-field
                                button.footer-form__search-btn
                    .footer-lists-inner 
                        .footer-lists-inner-frst 
                            ul.sec-nav
                                li.sec-nav__li
                                    a(href="#").list__link.list-title О нас
                                li.sec-nav__li
                                    a(href="#").list__link.list-title Примеры работ
                                li.sec-nav__li
                                    a(href="#").list__link.list-title Доставка и оплата
                                li.sec-nav__li
                                    a(href="#").list__link.list-title Оптовикам
                                li.sec-nav__li
                                    a(href="#").list__link.list-title Акции
                                li.sec-nav__li
                                    a(href="#").list__link.list-title Услуги и цены
                        .footer-lists-inner-wr 
                            ul.etching-list 
                                li.etching-list__li
                                    a(href="#").list__link.list-title.lst-ttl-line Гравировка
                                li.etching-list__li
                                    a(href="#").list__link На клавиатуре
                                li.etching-list__li
                                    a(href="#").list__link На кольцах
                                li.etching-list__li
                                    a(href="#").list__link На бокалах
                                li.etching-list__li
                                    a(href="#").list__link На зажигалках
                                li.etching-list__li
                                    a(href="#").list__link На ручках
                                li.etching-list__li
                                    a(href="#").list__link На дереве
                                li.etching-list__li
                                    a(href="#").list__link На стеклк
                                li.etching-list__li
                                    a(href="#").list__link На коже
                        .footer-lists-inner-wr
                            ul.nameboard-list 
                                li.nameboard-list__li
                                    a(href="#").list__link.list-title.lst-ttl-line Таблички
                                li.nameboard-list__li
                                    a(href="#").list__link На дверь
                                li.nameboard-list__li
                                    a(href="#").list__link Офисная
                                li.nameboard-list__li
                                    a(href="#").list__link Фасадная
                                li.nameboard-list__li
                                    a(href="#").list__link На крест
                                li.nameboard-list__li
                                    a(href="#").list__link На стол
                                li.nameboard-list__li
                                    a(href="#").list__link Шильды
                        .footer-lists-inner-wr 
                            ul.goods-list 
                                li.goods-list__li
                                    a(href="#").list__link.list-title.lst-ttl-line Товары
                                li.goods-list__li
                                    a(href="#").list__link Зажигалки
                                li.goods-list__li
                                    a(href="#").list__link Бокалы
                                li.goods-list__li
                                    a(href="#").list__link Ручки
                                li.goods-list__li
                                    a(href="#").list__link Термокружки
                                li.goods-list__li
                                    a(href="#").list__link Браслеты
                                li.goods-list__li
                                    a(href="#").list__link Ежедневники
                .footer-contacts 
                    .footer-contacts-busket 
                        a(href="#").footer-contacts-busket__link
                            img(src="./assets/imgs/busket.png", alt="busket").footer-contacts-busket__img   
                    .footer-contacts-inner 
                        .footer-contacts-wrap 
                            p.footer-contacts-p-bold Адрес:
                            p.footer-contacts-p-adres Москва, 
                            p.footer-contacts-p-adres ул.Бакунинская 14 стр. 11
                        .footer-contacts-wrap 
                            p.footer-contacts-p-bold info@q-graver.ru
                            p.footer-contacts-p-bold +7 (495) 632-11-16
                        .footer-contacts-wrap 
                            p.footer-contacts-p-time Пн-Пт: 9.00 - 21.00
                            p.footer-contacts-p-time Сб-Вс: 10.00 - 20.00
                        .footer-contacts-wrap-svg 
                            svg.svg-icon-scl-w
                                use(xlink:href="./assets/imgs/sprite.svg#whatsapp")
                            svg.svg-icon-scl-t
                                use(xlink:href="./assets/imgs/sprite.svg#telegram")

    .footer-end 
        .container 
            .footer-end-inner 
                .footer-end-inner-dop
                    a(href="#").footer__p Карта сайта
                .footer-end-inner-dop
                    a(href="#").footer__p Политика конфидециальности
                .footer__p.footer-end-inner-pol © 2016-2021, Q-Graver 