.header
    .header__wrapper
        .container 
            .header__inner 
                .nav
                    nav.nav__inner
                        ul.nav__list 
                            li.nav__li 
                                a(href="#").nav__link О нас
                            li.nav__li 
                                a(href="#").nav__link Примеры работ
                            li.nav__li 
                                a(href="#").nav__link Доставка и оплата  
                            li.nav__li 
                                a(href="#").nav__link Контакты
                .busket 
                    a(href="#").busket__link
                        img(src="./assets/imgs/busket.png", alt="busket").busket__img   
            .header__wrap 
                .menu
                    .menu__inner
                        a(href="#").menu__inner-link
                            span.menu__inner-l
                    .menu__logo 
                        h1.menu__logo-h1 Q-GRAVER.ru
                        p.menu__logo-p Центр лазерной гравировки
                .contacts 
                    .contacts__message 
                        p.contacts__message-p info@q-graver.ru
                        a(href="#").contacts__message-link
                            img(src="./assets/imgs/call.svg", alt="call").contacts__message-img
                        a(href="#").contacts__message-link
                            img(src="./assets/imgs/click.svg", alt="click").contacts__message-img
                    .contacts__call 
                        p.contacts__call-p +7 (495) 632-11-16
                        a(href="#").contacts__call-link Заказать звонок 
                    .contacts__adress
                        p.contacts__adress-p1 Адрес:
                        p.contacts__adress-p2 Москва, ул.Бакунинская 14 стр.11
    .header__content 
        .container 
            .header__content-inner 
                .header__content-menu 
                    nav.nav__menu 
                        ul.nav__menu-list 
                            li.nav__menu-li
                                a(href="#").nav__menu-link.arrow Услуги и цены
                            li.nav__menu-li
                                a(href="#").nav__menu-link Гравировка
                            li.nav__menu-li
                                a(href="#").nav__menu-link Таблички
                            li.nav__menu-li
                                a(href="#").nav__menu-link Товары
                            li.nav__menu-li
                                a(href="#").nav__menu-link Акции
                    .form__inner
                        form.form__search(action="#") 
                            input(type="text" placeholder="Введите запрос").form__search-field
                            button.form__search-btn
                            

